{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/book_style.css' %}">
    </head>
    {% if request.user.is_authenticated %}
    <section class="featured" id="featured" style="user-select:none;">
        <br><br><br><br><br><br>
        <span style="font-size: 3rem; padding:.5rem 2rem; color:var(--black); border:var(--border); font-weight:bold; ">賣家管理</span>
        <br><br><br>
        <div class="swiper featured-slider">
            <table width="90%" align="center">
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <tr>
                        <td style="font-weight:bold; font-size: 20px;">訂單編號</td>
                        <td style="font-weight:bold; font-size: 20px;">購買項目</td>
                        <td style="font-weight:bold; font-size: 20px;">購買時間</td>
                        <td style="font-weight:bold; font-size: 20px;">購買價格</td>
                        <td style="font-weight:bold; font-size: 20px;">實際收益</td>
                        <td style="font-weight:bold; font-size: 20px;">買家</td>
                        <td style="font-weight:bold; font-size: 20px;">訂單狀態</td>
                    </tr>
                    {% for access_num in access %}
                        <tr>
                            <td>{{access_num.id}}</td>
                            <td>{{access_num.pname}}</td>
                            <td>{{access_num.mod_date}}</td>
                            <td>{{access_num.pprice}}</td>
                            <td>{{access_num.price_amount}}</td>
                            <td>{{access_num.buyname}}</td>
                            {% if access_num.status %}
                                <td><input type="button" value="已完成" class="btn"></td>
                            {% else %}
                                <td><input type="button" value="未完成" class="btn" style="color: red; font-weight:bold;" onclick="window.location='/check_ok/{{access_num.id}}/'"> </td>
                            {% endif %}
                            <h2 style="color:red; font-size: 18px;">{{mailhint}}</h2>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>應收共計 : {{buytotal}}</td>
                        <td>實現共計 : {{realtotal}}</td>
                    </tr>
                </form>
         </table>
    </section>
    {% else %}
    	<script type="text/javascript">
    	  	alert("無此權限，請先登入!!");
             document.location.href="/login/";
    	</script>
    {% endif %}
{% endblock %}
