<html>
{% load static %}
    <head>
        <meta charset="utf-8">
        <title>註冊</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    </head>
    <form action="." method="POST" name="form1" class="login">
        {% csrf_token %}
        <h1>Create 加入</h1>
        <input name="username" type="text" placeholder="使用者名稱(送出後無法修改)" id="username">
        <input name="password" type="password" placeholder="密碼" id="password">
        <input name="first_name" type="text" placeholder="姓氏" id="first_name">
        <input name="last_name" type="text" placeholder="名字" id="last_name">
        <input name="e-mail" type="text" placeholder="e-mail" id="e-mail">
        <input type="submit" name="button" id="button" value="註冊" /> 
        <input type="button" onclick="location.href='/login/';" value="登入" />
        <input type="button" onclick="location.href='/index/';" value="首頁" />
        <span style="color:red">{{message}}</span>
    </form>
</html>