{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_style.css' %}">
</head>
<section class="featured" id="featured" style="user-select:none;"><br><br><br><br><br><br>
    <h1 class="heading"> <span>商品介紹</span> </h1>
    <div class="swiper featured-slider">
            <div class="box">
                <div class="content">
                    <div class="imge">
                        <img class="cover-fit" src="/media/{{product.pimages}}" alt="">
                    </div>
                    <h3>{{product.pname}}</h3>
                    <br>
                    <h4>作者: {{product.pauthor}}</h4>
                    <h4>出版日期：{{product.pdate}}</h4>
                    <h4>售價：${{product.pprice}}</h4>
                    <h4>原價:${{product.special_offer}}</h4>
                    <h4>點閱數:{{product.press}}</h4>
                    {% if request.user.is_authenticated %}
                        <a id="buy-btn" class="btn" >立即購買</a><br>
                    {% else %}
                        <a id="buy-btn" class="btn" href="/login/">登錄購買</a><br>
                    {% endif %}
                    <a id="enlarge-btn" class="btn">圖片放大</a><br>
                    <!-- {% if request.user.is_authenticated %}
                        <a class="btn" href="/media/{{product.uploadedFile}}"  download="{{product.uploadedFile}}">檔案下載</a>
                    {% else %}
                    {% endif %} -->
                    <a class="btn" href="/media/{{product.pimages}}" download="{{product.pimages}}">圖片下載</a>
                </div>
            </div>
            <h1 class="heading"> <span>內容簡介</span> </h1>
            <h5>
                {{product.pdescription}}
            </h5><br><br><br>
            <h1 class="heading"> <span>作者介紹</span> </h1>
            <h5>
                {{product.pauthor_introduce}}
            </h5><br><br><br>
            <h1 class="heading"> <span>詳細資料</span> </h1>
            <h5>
                {{product.pdata}}
            </h5><br><br><br>
    </div>
</section>

{% if request.user.is_authenticated %}
    <div class="buy-container">
        <section class="newsletterDetail">
        <div id="close-buy-btn" class="fas fa-times"></div>
        <h1>付費條碼</h1>
        <img src="/static/images/bank.jpg" style="width: 50rem; height: 30rem;">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}<br>
            <input type="submit" value="付費完成" class="btn">
            <h2 style="color:red; font-size: 18px;">{{mailhint}}</h2>
        </form>
        </section>
    </div>
{% else %}
{% endif %}
<div class="enlarge-container">
    <div id="close-enlarge-btn" class="fas fa-times"></div>
    <img src="/media/{{product.pimages}}" style="width: 60rem; height: 90rem;">
</div>

<script type="text/javascript">
    let buyphoto = document.querySelector('.buy-container');
    let enlargephoto = document.querySelector('.enlarge-container');/*登入畫面*/

    document.querySelector('#buy-btn').onclick = () =>{
      buyphoto.classList.toggle('active');/*{彈出}切換至css798(top:115%;)*/
    }
    document.querySelector('#enlarge-btn').onclick = () =>{
      enlargephoto.classList.toggle('active');/*{彈出}切換至css798(top:115%;)*/
    }

    document.querySelector('#close-buy-btn').onclick = () =>{
      buyphoto.classList.remove('active');
    }
    document.querySelector('#close-enlarge-btn').onclick = () =>{
      enlargephoto.classList.remove('active');/*{退出}*/
    }

</script>
{% endblock %}
